.schedule-row:nth-child(odd) {
    background-color: #d8f7e2;
}

.schedule-row:hover {
    background-color: #69d38b;
}

.schedule-data-element {
    padding: 0.1rem 0.5rem;
}

.schedule-time:hover {
    color: yellow;
}

.completed-leg-check {
    color: green;
    font-weight: bolder;
}

.pending-leg-hourglass {
    color: orange;
}

.exchange-button {
    margin: 0.25rem 0rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
}