ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #226a27;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding-top: 1rem;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  margin: 0rem 0.75rem 0.75rem 0rem;
}

.navBar button:hover {
  background: white;
  color: #226a27;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0rem 1rem;
}

.navSection {
  display: flex;
  justify-content: space-between;
}