.tabs {
    display: flex;
    justify-content: flex-start;
    margin-top: 7rem;
}

.nav.nav-tabs .nav-link {
    color: black;
}

.nav.nav-tabs .nav-link.active {
    font-weight: bold;
    color: green;
}